<button
  (click)="toggleTheme()"
  class="theme-toggle"
  [ngClass]="{ 'dark-btn': isDarkMode, 'light-btn': !isDarkMode }"
>
  <span class="material-symbols-filled icon-theme">
    {{ isDarkMode ? "nightlight" : "sunny" }}
  </span>
</button>

<div class="location-wrapper">
  <div class="location" (click)="toggleCityDropdown()">
    <span class="material-symbols-filled icon-location">location_on</span>
    <span>{{ selectedCity }}</span>
  </div>

  <div class="city-dropdown" *ngIf="isCityDropdownOpen">
    <div
      *ngFor="let city of cities"
      class="city-item"
      (click)="selectCity(city)"
    >
      {{ city }}
    </div>
  </div>
</div>

<button
  class="register-btn"
  [ngClass]="{ 'dark-btn': isDarkMode, 'light-btn': !isDarkMode }"
>
  <span class="material-symbols-filled icon-person"> person </span>
  Увійти
</button>
