<button
  (click)="toggleTheme()"
  class="theme-toggle"
  [ngClass]="{ 'dark-btn': isDarkMode, 'light-btn': !isDarkMode }"
>
  <span class="material-symbols-filled icon-theme">
    {{ isDarkMode ? "nightlight" : "sunny" }}
  </span>
</button>

<div class="location-wrapper">
  <span class="material-symbols-filled icon-location">location_on</span>
  <ng-select
    [items]="cities"
    [(ngModel)]="selectedCity"
    [clearable]="false"
    placeholder="Оберіть область"
    class="region-select"
  ></ng-select>
</div>

<button
  class="register-btn"
  [ngClass]="{ 'dark-btn': isDarkMode, 'light-btn': !isDarkMode }"
>
  <span class="material-symbols-filled icon-person"> person </span>
  Увійти
</button>
